h1 {
    text-align: center;
    font-size: 40px;
    color:rgb(55, 55, 55);
}
body{
    background-color:rgb(235, 231, 231);
}
#cell-1 {
    border-bottom: solid;
    border-right: solid;
    border-width: 3px;

}

#cell-2 {
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 3px;

    
}
#cell-3 {
    border-bottom: solid;
    border-left: solid;
    border-width: 3px;
    
}

#cell-4 {
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
    border-width: 3px;


}

#cell-5 {
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-width: 3px;
}
#cell-6 {
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-width: 3px;
}
#cell-7 {
    border-top: solid;
    border-right: solid;
    border-width: 3px;
}
#cell-8 {
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-width: 3px;
}
#cell-9 {
    border-top: solid;
    border-left: solid;
    border-width: 3px;
}


td {
    width: 120px;
    height: 120px;
}

td:hover{
    border: 2px solid gray;
    border-width: 5px;
}

#board {
    margin-left: auto;
    margin-right: auto;
}
#pl-1 {
    font-size: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 70px;
    top: 0;
    left: 0;
    color:rgb(55, 55, 55);
    
}

#pl-2 {
    font-size: 50px;
    position: absolute;
    margin-top: 250px;
    margin-left: 70px;
    top: 0;
    left: 0;
    border-width: 3px;
    color:rgb(55, 55, 55);
    
}
#draws {
    font-size: 50px;
    position: absolute;
    margin-top: 350px;
    margin-left: 70px;
    top: 0;
    left: 0;
    border-width: 3px;
    color:rgb(55, 55, 55);
    
}

#resetBtn{
    font-size: 70px;
    position: absolute;
    display: block;
    margin-top: 370px;
    margin-right: 70px;
    top: 0;
    right: 0;
    width: 17%;
    height: 100px;
    border-radius: 40px;
    font-size:85px;
    background-color: #04AA6D;
    cursor: pointer;
    text-align: center;
    color:rgb(55, 55, 55);
}

#nought {
    font-size: 50px;
    position: absolute;
    margin-top: 150px;
    margin-right: 70px;
    top: 0;
    right: 0;
    width: 17%;
    height: 100px;
    border-radius: 40px;
    font-size:72px;
    background-color: #04AA6D;
    color:rgb(55, 55, 55);
}
#cross {
    font-size: 10px;
    position: absolute;
    margin-top: 260px;
    margin-right: 70px;
    top: 0;
    right: 0;
    width: 17%;
    height: 100px;
    border-radius: 40px;
    font-size:85px;
    background-color: #04AA6D;
    color:rgb(55, 55, 55);
}



